<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>修改用户信息</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <script th:src="@{css/jquery-1.11.1.min.js}"></script>

    <script>
        function validate() {
            var pwd1 = document.getElementById("password").value;
            var pwd2 = document.getElementById("password1").value;

            if (pwd1 == pwd2)
            {
                document.getElementById("prompt").innerHTML="<font color='green'>两次密码相同</font>";
            }
            else
            {
                document.getElementById("prompt").innerHTML="<font color='red'>两次密码不相同！</font>";
            }
        }
    </script>
</head>
<body>
<div th:replace="admin/header_nav :: header_nav"></div>
<div class="container-fluid">
    <div class="row" >
        <nav th:replace="admin/left_nav :: left_nav"></nav>
    </div>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

        <h1>修改用户</h1>

        <form th:action="@{updateUser}" enctype="multipart/form-data" method="post" >
            <div style="width: 400px;margin-left: 240px;float: left">
                <input type="hidden" id="userId" name="userId" th:value="${user.userId}"/>

                <fieldset class="form-group">
                    <label for="userName">用户名</label>
                    <input type="text" class="form-control" id="userName" name="userName" th:value="${user.userName}" disabled>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" th:value="${user.password}" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">确认密码</label>
                    <input type="password" class="form-control" id="password1" name="password1" required onblur="validate()">
                </fieldset>
                <fieldset class="form-group">
                    <label for="userSex">性别</label>
                    <div class="radio-inline">
                        <input type="radio" id="sex1" name="userSex" value="0"  th:checked="${user.userSex==0}">男
                        <input type="radio" id="sex2" name="userSex" value="1"  th:checked="${user.userSex==1}">女
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="address">联系地址</label>
                    <input type="text" class="form-control" id="address" name="address" th:value="${user.address}" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="mobile">手机号码</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" th:value="${user.mobile}" required>
                </fieldset>
                <button type="submit" class="btn btn-outline-info">确定</button>
            </div>
            <div style="float: left;margin-top: 19.6%">
                <span id="prompt"></span>
            </div>
        </form>

    </main>
</div>

</body>
</html>