<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>用户管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div th:replace="admin/header_nav :: header_nav"></div>
<div class="container-fluid">
    <div class="row" >
        <nav th:replace="admin/left_nav :: left_nav"></nav>
    </div>
    <form th:action="@{userSearch}">
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

        <h1>用户管理</h1>

        <div class="form-inline">
            <div class="form-group form-group-sm">
                <label for="userName">用户名</label>
                <input type="text" class="form-control form-control-sm" id="userName" name="userName" placeholder="用户名" th:value="${#httpServletRequest.getParameter('userName')}">
            </div>
            <button type="submit" class="btn btn-outline-info btn-sm">搜索</button>
        </div>
        <button type="button" id="addBtn" class="btn btn-outline-success btn-sm"
                style="margin: -60px 0px 0px 1000px" onclick="window.location.href='toAddUser'">添加用户</button>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">用户名</th>
                <th scope="col">用户性别</th>
                <th scope="col">用户手机号</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,userStat :${userList}">
                <th scope="row" th:text="${userStat.count}"></th>
                <td th:text="${user.userName}"></td>
                <td th:if="${user.userSex} == 0">男</td>
                <td th:if="${user.userSex} == 1">女</td>
                <td th:text="${user.mobile}"></td>
                <td>
                    <a th:href="'editUser?userId='+${user.userId}">修改</a>
                    <a th:href="'delUser?userId='+${user.userId}">删除</a>
                </td>

            </tr>
            </tbody>
        </table>
    </main>
    </form>
</div>

</body>
</html>