<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<title>首页</title>
</head>

<link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">

<body>
<div id="Body">
	<div id="Top">
		<a th:href="@{home}"><span id="title">校园租赁</span></a>
		<div id="login"><a th:href="@{login}" class="login">登录</a></div>
		<div id="reg"><a th:href="@{register}" class="reg">注册</a></div>
	</div>
	<div id="Center">
		<div id="nav">
			<div><span class="projectInfo">一个出租闲置与租赁己需的平台</span></div>
			<div><span class="projectInfo1">由学生提供商品，商品分类繁多，真正的达到有求必应</span></div>
			<div id="search">
				<input type="search" class="search" placeholder="请输入您要查找的商品名称">
				<input type="button" class="btn btn-success" onClick="window.open('cate_details')" value="搜索">
			</div>
			<div id="addNewGoods">
				<a th:href="@{publishProduct}">发布你的商品</a>
			</div>
		</div>
		<div id="shoppingSort">
			<div id="shopping_sort_title">
				<span>商品分类</span>
				<a th:href="@{moreCates}">查看更多》</a>
			</div>
			<div id="shopping_sort_value" >
				<div class="card" style="width: 16rem; float: left" th:each="cateFiveList :${cateFiveList}">
 					 <a th:href="@{cateDetails}"><img class="card-img-top" th:src="${cateFiveList.catePic}"  alt="Card image cap"/></a>
 				 	<div class="card-body">
    					<a class="card-text" th:href="@{cateDetails}" th:text="${cateFiveList.cateName}"></a>
  					</div>
				</div>
				

			</div>
		</div>
		<div id="ranking">
			<div id="rank_title">
				<span>租赁排行榜</span>
				<div class="rank_title_mark"></div>
			</div>
			<div id="rank_value">
				<div class="card" style="width: 20rem;" th:each="leaseRankList :${rankList}">
  						<img class="card-img-top" th:src="${leaseRankList.picUrl}"  style="width: 16rem;" alt="Card image cap">
  					<div class="card-body">
    					<h4 class="card-title" th:text="${leaseRankList.productName}"></h4>
    					<p class="card-text" th:text="${leaseRankList.productDisc}"></p>
    					<div>
							<p class="card-text">租赁次数:<span th:text="${leaseRankList.odetailNum}+'次'"></span></p>
    					</div>
    					<div>
    						<div  class="sort">分类：</div>
    						<div class="sort_mark" th:text="${leaseRankList.cateName}"></div>
    					</div>
    					<a th:href="@{productDetails}" class="btn btn-primary">查看详情</a>
  					</div>
				</div>
				

			</div>
		</div>
	</div>
	<div id="Footer">
		<div class="contact">zhanghuaibin14@163.com | lizhongkang14@nou.com.cn | 联系我们</div>
	</div>
</div>
</body>
</html>
