<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>登录页面</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<body>
	<div id="login_body">
		<div id="login_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   <div id="login"><a th:href="@{login}" class="login">登录</a></div>
		   <div id="reg"><a th:href="@{register}" class="reg">注册</a></div>
		</div>
		
		<div id="login_center">
			<div id="login_form">
				<div class="login_form_title">
					<div class="line"></div>
					<div class="login_title">登录</div>
					<div class="line"></div>
				</div>
				<div class="login_username">
					<input type="text" placeholder="用户名">
				</div>
				<div class="login_passwd">
					<input type="password" placeholder="密码">
				</div>
				<div class="rember_passwd">
					<input type="checkbox" class="radio">记住密码
				</div>
				<div class="login_button">
					<input type="button" value="登录">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
