<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>商品管理-修改商品信息</title>
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<body>
<div id="personalCenter_body">
		<div id="personalCenter_top">
			<a href="home.html"><span id="title">校园租赁</span></a>
		   	<div id="personalCenter_menu">
		   		<ul>
					<li><a href="shopping_cart.html">购物车</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="my_order.html">我的订单</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="personal_center.html">个人中心</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="#">退出登录</a></li>
		   		</ul>
		   	</div>
		</div>
		
	<div class="container-fluid">
      <div class="row" style="width: 100%">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="personal_center_modifyPersonalInfo.html" style="width: 100%">修改个人信息 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="personal_center_modifyPassword.html" style="width: 100%">修改密码</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="personal_center_managerProduct.html" style="width: 100%">管理商品<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>修改商品</h1>

        <form th:action="@{updateProduct}" enctype="multipart/form-data" method="post">
            <div style="width: 600px;margin-left: 200px">
                <input type="hidden" id="productId" name="productId" value="0"/>

                <fieldset class="form-group">
                    <label for="productName">商品名称</label>
                    <input type="text" class="form-control" id="productName" name="productName" placeholder="商品名称" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productCate">商品类型</label>
                    <select class="form-control" id="productCate" name="productCate" required>
                        <option>自行车</option>
                        <option>单反</option>
                        <option>电脑</option>
                        <option>书籍</option>
                        <option>男装</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="leasePrice">租赁价格</label>
                    <input type="text" class="form-control" id="leasePrice" name="leasePrice" placeholder="租赁价格" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productDisc">商品描述</label>
                    <textarea class="form-control" id="productDisc" name="productDisc" rows="3"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productDate"> 商品入货日期（格式yyyy-mm-dd，如2017-01-01）</label>

                    <input class="form-control" name="productDate" id="productDate"
                           value="2017-10-25"
                           type="date"  placeholder="商品上架日期" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="productPic">商品图片</label>
                    <input type="file" class="form-control" id="productPicFile" name="productPicFile">
                    <input type="hidden" name="productPic"  id="productPic" value="">
                </fieldset>
                <button type="submit" class="btn btn-outline-info">确定</button>
                <button type="reset" class="btn btn-outline-secondary">重置</button>
            </div>
        </form>

        </main>
      </div>
    </div>

</div>
</body>
</html>
