<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>查看更多商品分类</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.css}">
<body>
<div id="moreCate_body">
		<div id="moreCate_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   <div id="login"><a th:href="@{login}" class="login">登录</a></div>
		   <div id="reg"><a th:href="@{register}" class="reg">注册</a></div>
		</div>
		
		<div id="moreCate_center">
			<div id="shopping_sort_value">
				<div class="card" style="width: 16rem; float: left" th:each="cateAllList :${cateAllList}">
					<a  th:href="'productByCateId?cateId='+${cateAllList.cateId}"><img class="card-img-top" th:src="${cateAllList.catePic}"  alt="Card image cap"/></a>
 				 	<div class="card-body">
    					<a class="card-text" th:href="@{cateDetails}" th:text="${cateAllList.cateName}"></a>
  					</div>
				</div>
				

		</div>
</div>
</body>
</html>
