<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>我的订单</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<body>
<div id="myOrder_body">
		<div id="myOrder_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   	<div id="myOrder_menu">
		   		<ul>
		   			<li><a th:href="@{shoppingCart}">购物车</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{myOrder}">我的订单</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{personalCenter}">个人中心</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="#">退出登录</a></li>
		   		</ul>
		   	</div>
		</div>
		
		<div id="myOrder_center">
			<div class="myOrder_title">
				我的订单
				<hr>
			</div>
			<div id="myOrder_form">
				<div id="myOrder_header">
					<table>
						<tr>
							<td>下单日期：2017-10-26</td>
							<td>订单编号：20171026001</td>
							<td>订单状态：已付款</td>
							<td><img src="image/recycle.png" class="deleteOrder_img"></td>
						</tr>
					</table>
				</div>
				<div id="myOrder_text">
					<table border="1" >
						<tr>
							<td>商品图片</td>
							<td>商品名称</td>
							<td>商品价格</td>
							<td>商品数量</td>
							<td>合计</td>
							<td>操作</td>
						</tr>
						<tr>
							<td><img src="image/basketball.jpg" class="myOrder_img"></td>
							<td>篮球</td>
							<td>￥10.0</td>
							<td>1</td>
							<td>￥10.0</td>
							<td><input type="button"  value="查看详情"></td>
						</tr>
					</table>
					<span class="order_allPrice">总金额：￥10.0</span>
				</div>
				
				
				
			</div>
			
			
		</div>	
</div>
</body>
</html>
