<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>个人中心</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.min.css}">
<body>
<div id="personalCenter_body">
		<div id="personalCenter_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   	<div id="personalCenter_menu">
		   		<ul>
					<li><a th:href="@{shoppingCart}">购物车</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{myOrder}">我的订单</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{personalCenter}">个人中心</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="#">退出登录</a></li>
		   		</ul>
		   	</div>
		</div>
		
	<div class="container-fluid">
      <div class="row" style="width: 100%">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{personalCenterModifyPersonalInfo}" style="width: 100%">修改个人信息 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterModifyPassword}" style="width: 100%">修改密码</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterManagerProduct}" style="width: 100%">管理商品</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h4>欢迎来到个人中心，您可以修改个人信息、密码和管理商品</h4>

        </main>
      </div>
    </div>

</div>
</body>
</html>
