<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>个人中心-修改个人信息</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.min.css}">
<body>
<div id="personalCenter_body">
		<div id="personalCenter_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   	<div id="personalCenter_menu">
		   		<ul>
					<li><a th:href="@{shoppingCart}">购物车</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{myOrder}">我的订单</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{personalCenter}">个人中心</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="#">退出登录</a></li>
		   		</ul>
		   	</div>
		</div>
		
	<div class="container-fluid">
      <div class="row" style="width: 100%">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{personalCenterModifyPersonalInfo}" style="width: 100%">修改个人信息 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterModifyPassword}" style="width: 100%">修改密码</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterManagerProduct}" style="width: 100%">管理商品</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>修改个人信息</h1>

        <form th:action="@{updateUser}" enctype="multipart/form-data" method="post">
            <div style="width: 400px;margin-left: 240px">
                <input type="hidden" id="userId" name="userId" value="0"/>

                <fieldset class="form-group">
                    <label for="userName">用户名</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="user" disabled>
                </fieldset>
                <fieldset class="form-group">
                    <label for="sex">性别</label>
                    <div class="radio-inline">
                        <input type="radio" id="sex1" name="sex" value="0" style="width: 20px; height: 20px;" checked> 男
                        <input type="radio" id="sex2" name="sex" value="1" style="width: 20px;height: 20px;"> 女
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="mobile">手机号码</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" required>
                </fieldset>
                <button type="submit" class="btn btn-outline-info">确定</button>
                <button type="button" class="btn btn-outline-success"  onclick="history.go(-1)">返回</button>
            </div>
        </form>
        </main>
      </div>
    </div>

</div>
</body>
</html>
