<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>个人中心-管理商品</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.min.css}">
<body>
<div id="personalCenter_body">
		<div id="personalCenter_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   	<div id="personalCenter_menu">
		   		<ul>
					<li><a th:href="@{shoppingCart}">购物车</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{myOrder}">我的订单</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a th:href="@{personalCenter}">个人中心</a></li>
		   			<li class="fengefu">/</li>
		   			<li><a href="#">退出登录</a></li>
		   		</ul>
		   	</div>
		</div>
		
	<div class="container-fluid">
      <div class="row" style="width: 100%">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterModifyPersonalInfo}" style="width: 100%">修改个人信息 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{personalCenterModifyPassword}" style="width: 100%">修改密码</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{personalCenterManagerProduct}" style="width: 100%">管理商品<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
         <h1>管理商品</h1>

        <form class="form-inline">
            <div class="form-group form-group-sm">
                <label for="productCate">商品分类</label>
                <select class="form-control form-control-sm" id="productCate" name="productCate">
                    <option>--所有类别--</option>
                    <option>电脑</option>
                    <option>服装</option>
                    <option>书籍</option>
                    <option>手机</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label for="productName">商品名称</label>
                <input type="text" class="form-control form-control-sm" id="productName" name="productName" placeholder="商品名称">
            </div>
            <button type="submit" class="btn btn-outline-info btn-sm">搜索</button>
        </form>
        <button type="button" id="addBtn" class="btn btn-outline-success btn-sm"
        style="margin: -60px 0px 0px 1000px" onclick="window.location.href='publishProduct'">添加商品</button>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">商品图片</th>
                <th scope="col">商品名称</th>
                <th scope="col">租赁价格</th>
                <th scope="col">商品描述</th>
                <th scope="col">租赁次数</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img src="image/basketball.jpg" width="30" height="30">
                </td>
                <td>篮球</td>
                <td>128</td>
                <td>耐打</td>
                <td>120</td>
                <td>
                    <a th:href="@{personalCenterModifyProduct}">修改</a>
                    <a href="">删除</a>
                </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img src="image/camera.jpg" width="30" height="30">
                </td>
                <td>相机</td>
                <td>112</td>
                <td>9成新</td>
                <td>11</td>
                <td>
                    <a th:href="@{personalCenterModifyProduct}">修改</a>
                    <a href="">删除</a>
                </td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img src="image/zixingche.jpg" width="30" height="30">
                </td>
                <td>自行车</td>
                <td>15</td>
                <td>刚买不久</td>
                <td>11</td>
                <td>
                    <a th:href="@{personalCenterModifyProduct}">修改</a>
                    <a href="">删除</a>
                </td>

            </tr>
            </tbody>
        </table>

        </main>
      </div>
    </div>

</div>
</body>
</html>
