<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>商品详情</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<body>
<div id="productDetails_body">
		<div id="productDetails_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
			<div id="productDetails_menu">
					<ul>
						<li><a th:href="@{shoppingCart}">购物车</a></li>
						<li class="fengefu">/</li>
						<li><a th:href="@{myOrder}">我的订单</a></li>
						<li class="fengefu">/</li>
						<li><a th:href="@{personalCenter}">个人中心</a></li>
						<li class="fengefu">/</li>
						<li><a href="#">退出登录</a></li>
					</ul>
			</div>
		</div>
		
		<div id="productDetails_center">
			<div id="product_image">
				<img th:src="@{/image/basketball.jpg}">
			</div>
			<div id="project_details">
				<table>
					<tr>
						<td class="product_message">商品名称：</td>
						<td class="product_name">篮球</td>
					</tr>
					<tr>
						<td class="product_message">商品描述：</td>
						<td class="product_info">如果你无法简洁的表达你的想法，那只说明你还不够了解它。
					-- 阿尔伯特·爱因斯坦</td>
					</tr>
					<tr>
						<td class="product_message">商品租金：</td>
						<td class="product_rent_price">￥10/天</td>
					</tr>
					<tr>
						<td class="product_message">商品租用期限：</td>
						<td><div class="lease_limit_position">
							<input type="button" class="lease_limit" value="1天">
							<input type="button" class="lease_limit" value="3天">
							<input type="button" class="lease_limit" value="10天">
							<input type="button" class="lease_limit" value="15天">
							<input type="button" class="lease_limit" value="30天">
							<span>其他：<input type="number" placeholder="输入天数"></span> 
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="product_btn"><input type="submit" value="租用" class="rent_btn" onclick="window.location.href='myOrder'">
						<input type="submit" value="加入购物车" class="add_car_btn" onclick="window.location.href='shoppingCart'"></td>
					</tr>
				</table>
			</div>
		</div>
</div>
</body>
</html>
