<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>商品详情</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS/style.css}">
<body>
<div id="productDetails_body">
	<div th:replace="homeMenu::homeMenu"></div>
		
		<div id="productDetails_center" th:each=" productDetailList :${productDetailList}">
			<div id="product_image">
				<img th:src="${productDetailList.pics.picUrl}">
			</div>
			<div id="project_details">
				<form th:action="@{rent}" method="post" id="from1" name="from1">
					<input type="hidden" name="productId" th:value="${productDetailList.productId}"/>
					<input type="hidden" name="productName" th:value="${productDetailList.productName}"/>
					<input type="hidden" name="productPrice" th:value="${productDetailList.productPrice}"/>
					<input type="hidden" name="productPic" th:value="${productDetailList.pics.picUrl}"/>

					<table>
						<tr>
							<td class="product_message">商品名称：</td>
							<td class="product_name" th:name="productName" th:text="${productDetailList.productName}"></td>
						</tr>
						<tr>
							<td class="product_message">商品描述：</td>
							<td class="product_info" th:name="productDisc" th:text="${productDetailList.productDisc}"></td>
						</tr>
						<tr>
							<td class="product_message">商品租金：</td>
							<td class="product_rent_price" th:name="productPrice" th:text="${productDetailList.productPrice+'/天'}">￥10/天</td>
						</tr>
						<tr>
							<td class="product_message">商品数量：</td>
							<td>
								<div  class="radio-inline">
									<span><input type="number" name="odetailNum" id="odetailNum" placeholder="输入数量" onkeyup="num()"></span>
								</div>
							</td>
						</tr>
						<tr>
							<td class="product_message">商品租用期限：</td>
							<td>
								<div  class="radio-inline">
									<span><input type="number" name="odetailDay" id="odetailDay" placeholder="输入天数" onkeyup="num()">天</span>
								</div>
							</td>
						</tr>

						<tr>
							<td colspan="2" class="product_btn"><input type="submit" value="租用" class="rent_btn" onclick="document.from1.action='rent';">
							<input type="submit" value="加入购物车" class="add_car_btn" onclick="document.from1.action='addToCart';"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
</div>
</body>
</html>
