<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>注册页面</title>
</head>
<link rel="stylesheet" th:href="@{/css/frontCSS	/style.css}">
<link rel="stylesheet" th:href="@{/css/frontCSS/bootstrap.min.css}">
<body>
<div id="reg_body">
		<div id="reg_top">
			<a th:href="@{home}"><span id="title">校园租赁</span></a>
		   <div id="login"><a th:href="@{login}" class="login">登录</a></div>
		   <div id="reg"><a th:href="@{register}" class="reg">注册</a></div>
		</div>
		
		<div id="reg_center">
			<form id="reg_form" th:action="@{addNewUser}" method="post" name="formUser">
				<div class="reg_form_title">
					<div class="reg_title">注册</div>
				</div>
				<div class="reg_username">
					<input type="text" name="userName" id="userName" placeholder="用户名">
				</div>
				<div class="reg_passwd">
					<input type="password" name="passWord" id="passWord" placeholder="密码">
				</div>
				<div class="reg_repasswd">
					<input type="password" name="rePassword" id="rePassword" placeholder="再输一次密码">
				</div>
				<div class="reg_sex">
					<label>性别：</label>
					<div class="radio-inline">
						<input type="radio" id="sex1" name="userSex" value="0" style="width: 20px; height: 20px;" checked> 男
						<input type="radio" id="sex2" name="userSex" value="1" style="width: 20px;height: 20px;"> 女
					</div>
				</div>
				<div class="reg_age">
					<input type="text" placeholder="年龄" id="userAge" name="userAge">
				</div>
				<div class="reg_addr">
					<input type="text" placeholder="住址" id="address" name="address">
				</div>
				<div class="reg_mobile">
					<input type="text" placeholder="手机号码" id="mobile" name="mobile">
				</div>
				<div class="reg_button">
					<input type="submit" value="注册">
				</div>
				<div id="have_number">
					<span>已有账户？</span><a th:href="@{login}">登录</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
