<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lease.demo.mapper.AdminMapper">
    <resultMap id="productMap" type="com.lease.demo.dao.Product">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_num" property="productNum"/>
        <result column="product_disc" property="productDisc"/>
        <collection   property="pics"  javaType="com.lease.demo.dao.Pic">
            <id column="pic_id" property="picId"/>
            <result column="pic_url" property="picUrl"/>
        </collection >
        <collection property="orderDetails" javaType="com.lease.demo.dao.OrderDetail">
            <id column="odetail_id" property="odetailId"/>
            <result column="odetail_num" property="odetailNum"/>
        </collection>
    </resultMap>

    <resultMap id="searchOrderMap" type="com.lease.demo.dao.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_date" property="orderDate"/>
        <association property="user" column="user_id" javaType="com.lease.demo.dao.User">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
        </association>
        <collection property="orderStatuses" column="ostatus_id" javaType="com.lease.demo.dao.OrderStatus">
            <id column="ostatus_id" property="oStatusId"/>
            <result column="ostatus_name" property="oStatusName"/>
        </collection>
    </resultMap>
</mapper>
